<if condition="$goods neq 0">
    <foreach name="goods" item="vo">
        <div class="znyj-main-right-li left">
            <p class="znyj-main-right-li-tag" style="background:Darkorange;">免邮费</p>
            <a class="znyj-main-right-li-a1" href="{:U('Detail/detail',array('gid'=>$vo[id]))}"><img src="__PUBLIC__/imgs/{$vo[id]}/{$vo[cover]}" /></a>
            <a class="znyj-main-right-li-a2" href="{:U('Detail/detail',array('gid'=>$vo[id]))}">{$vo.name}</a>
            <p class="znyj-main-right-li-p1">{$vo.goodsinfo}</p>
            <p class="znyj-main-right-li-p2">{$vo.price}元</p>
        </div>
    </foreach>
</if>