<div data-stat="{$stat}" name="showGoods2Body" class="dpz-main-right right">
    <if condition="$goods neq 0"> 
        <foreach name="goods" item="vo" key="k">
            <if condition="$k neq count($goods)-1">        
                <div class="dpz-main-right-li left" >
                        <p class="dpz-main-right-li-tag" style="background:Darkorange;">免邮费</p>
                        <a class="dpz-main-right-li-a1" href="{:U('Detail/detail',array('gid'=>$vo[id]))}"><img src="__PUBLIC__/imgs/{$vo[id]}/{$vo[cover]}" /></a>
                        <a class="dpz-main-right-li-a2" href="{:U('Detail/detail',array('gid'=>$vo[id]))}">{$vo.name}</a>
                        <p class="dpz-main-right-li-p1">{$vo.goodsinfo}</p>
                        <p class="dpz-main-right-li-p2">{$vo.price}元</p>
                </div>
            <else />
                <div class="dpz-main-right-li2 left">
                    <div class="dpz-main-right-li21 left">
                        <a class="dpz-main-right-li21-a1 left" href="{:U('Detail/detail',array('gid'=>$vo[id]))}">{$vo.name}</a>
                        <p class="dpz-main-right-li21-p1 left">{$vo.price}元</p>

                        <a class="dpz-main-right-li21-a2" href="{:U('Detail/detail',array('gid'=>$vo[id]))}"><img src="__PUBLIC__/imgs/{$vo[id]}/{$vo[cover]}" /></a>
                    </div>
                    <div class="clear"></div>
                    <div class="dpz-main-right-li22 left">
                        <a class="dpz-main-right-li22-a1 left" href="{:U('GoodsList/showGoodsList',array('tid'=>$stat,'typename'=>$typename))}">浏览更多</a>
                        <a class="dpz-main-right-li22-p1 left" href="{:U('GoodsList/showGoodsList',array('tid'=>$stat,'typename'=>$typename))}">{$typename|default='热门'}</a>
                        <a class="dpz-main-right-li22-a2" href="{:U('GoodsList/showGoodsList',array('tid'=>$stat,'typename'=>$typename))}"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </if>
        </foreach>
    </if>
</div>