<br/>
<div class="right" id="li07">
	<div class="right01">
		<img src="__PUBLIC__/Sun/img/04.gif" /> 友情链接管理 &gt; 添加链接 &gt; <!--<span>订单详情</span>-->
	</div>
	<div class="rightmain">
		<h2 class="text-center">添加友情链接</h2>
			<table class="table table-hover">
				<tr>
					<th>序号</th>
					<th>合作伙伴</th>
					<th>链接地址</th>
					<th>操作</th>
				</tr>
				<tr>
					<td>1</td>
					<form action="{:U('Friendlinks/addFriendlinks')}" method="get">
						<td class="text-center">
							<input type="text" name="keyword" class="form-control" style="width:200px;">
						</td>
						<td>
							<input type="url" name="url" class="form-control" style="width:300px;">	
						</td>
						<td>
							<button type="submit" class="btn btn-success">添加</button>
						</td>
					</form>
				</tr>
			
			</table>
	</div>
</div>