<br/>
<div class="right" id="li07">
	<div class="right01">
		<img src="__PUBLIC__/Sun/img/04.gif" /> 友情链接管理 &gt; 查看链接 <!--<span>订单详情</span>-->
	</div>
	<!-- 查看友情链接开始 -->
	<div class="rightmain">
		<h2 class="text-center">查看友情链接</h2>
		<button type="button" class="btn btn-success btn-primary center-block" data-toggle="modal" data-target=".bs-example-modal-lg">添 　加</button>
			<table style="width:80%;margin:10px auto" class="table table-hover">
				<tr>
					<th class="text-center">序号</th>
					<th class="text-center">合作伙伴</th>
					<th class="text-center">链接地址</th>
					<th class="text-center">操作</th>
				</tr>
			<foreach name="showa" item="sh">
				<tr style="text-align:center">
					<td>{$sh.id}</td>
					<td class="text-center">
						<input type="text" name="keyword" disabled value="{$sh.name}" class="form-control jia center-block" style="width:200px;">
					</td>
					<td>
						<input type="url" name="url" disabled value="{$sh.url}" class="form-control you center-block" style="width:300px;">	
					</td>
					<td>
						<a class="btn btn-warning" href="javascript:;" data-value="{$sh.id}" >更改</a>
						<a class="btn btn-danger" href="javascript:;" data-value="{$sh.id}" >移除</a>
					</td>
				</tr>
			</foreach>			
			</table>
	</div>
	<!-- 查看结束 -->
</div>
<!-- 添加友情链接开始 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
     <h2 class="text-center">添加友情链接</h2>
			<table class="table table-hover">
				<tr>
					
					<th>合作伙伴</th>
					<th>链接地址</th>
					<th>操作</th>
				</tr>
				<tr>
					
					<form action="{:U('Friendlinks/addFriendlinks')}" method="get">
						<td class="text-center">
							<input type="text" name="keyword" class="form-control" style="width:200px;">
						</td>
						<td>
							<input type="url" name="url" class="form-control" style="width:300px;">	
						</td>
						<td>
							<button type="submit" class="btn btn-success">添加</button>
						</td>
					</form>
				</tr>
			
			</table>
    </div>
  </div>
</div>
<!-- 添加友情链接结束 -->

	<script>
		// 添加友情链接
		// 绑定一个点击事件
		$('body').on('click', '.btn-success', function(){

			
			//请求ajax
			$.get("{:U('Friendlinks/addFriendlinks')}", function(data){

				
			},'json');
		});

		// 移除友情链接
		// 绑定点击事件
		$('table').on('click', '.btn-danger', function(){
			// 存起this
			var that = $(this);

			
			//获取要删除的ID
			var currenId = $(this).attr("data-value");

			

			// 请求ajax
			$.get("{:U('Friendlinks/delelink')}", {id:currenId}, function(data){
				// 判断返回来的值
				if(data == 1){
					//走到这里就删除一整行
					that.parent().parent().remove();

				} else if (data == 0) {
					// 否则就删除失败
					alert('移除失败');
				}
				// console.log(data);
				
			},'json');

			
		})
		// 绑定点击事件
		$('table').on('click', '.btn-warning', function(){
			// 获取要更改的ID
			var currenId = $(this).attr("data-value");

			// console.log(currenId);
			// 存起this的下一个
			var that = $(this).next();
			//找到inpunt
			$(this).parent().prevAll('td').each(function () {
				//删除input里面的disabled
				$(this).find('input').removeAttr('disabled');
				// 替换按钮
				$("<button type='submit' class='btn btn-info'>保存</button>").replaceAll(".btn-warning");
			});
			// 给替换后的按钮绑定一个一次性事件处理
			$("table").on("click", '.btn-info', function(){
				//获取一个需要更改的值
				var val = [];
				var i =0;
				that.parent().prevAll().find('input').each(
					function () {
						val[i] = $(this).val();
						i++;
					}
					);
				// console.log(val);
				// var name = $('.jia').val();
				// var urll = $('.you').val();
				// console.log(currenId);
				
				
				//请求ajax
				$.post("{:U('Friendlinks/updatalink')}",{"id":currenId,"name":val[0],"url":val[1]},function(data){
							//判断返回值
							//
							// console.log(data);
							if ( data == 1 ) {
								// 修改成功后替换
								$('<button type="submit" class="btn btn-warning" data-value="{$sh.id}" >更改</button>').replaceAll(".btn-info");
								that.parent().prevAll().find('input').attr("disabled", "disabled")
								
							} else {
								// console.log(data);
								alert("请修改你的资料或系统正忙.....");
							}
				},'json')

			})
			
			
		})

	</script>