<!-- 喜欢的商品 -->
<div class="uc-content-box">
    <div class="box-hd">
        <h1 class="title" style="width: 882px;height: 68px;">喜欢的商品</h1>
        <div class="more clearfix hide">
            <ul class="filter-list J_addrType">
                <li class="first active"><a href="" data-stat-id="bb5f4704448262e5" onclick="">喜欢的商品</a></li>
                <li><a href="" data-stat-id="ca8474002200309a" onclick="">已下架的商品</a></li>
            </ul>
        </div>
        <div class="box-bd">
            <p class="empty">您暂未收藏任何商品。</p>
            <div class="xm-pagenavi"></div>
        </div>
    </div>
</div>

                        
                                
 
