<!-- 消息通知 -->
<div class="uc-content-box">
    <div class="box-hd">
        <div class="uc-content-box">
            <div class="box-hd">
                <h1 class="title">消息通知</h1>
                <div class="more clearfix" style="width: 882px;height: 57px;">
                    <ul class="filter-list J_addrType">
                        <li class="first active">
                            <a href="" data-stat-id="a1586e17d467508d" onclick="">全部消息<span class="m-num"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="message-main">
            <div class="message-list J_mList" id="J_msgList" data-stat-title="aaa">
                <!-- <div class="no-data">暂无数据</div> -->
            </div>
            <div class="J_mPager"></div>
        </div>
    </div>
</div>

